body {
  overflow-y: scroll;
  overflow-x: hidden;
}

.home {
  background-image: url(../image/VCT24_M2_Shanghai_Header.jpg);
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
}

.region {
  height: 100vh;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: blueviolet;
  right: -30px;
  overflow: hidden;
  /* margin-top: 1px; */
}

.jadwal {
  background-image: url(../image/UI/jadwal.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 170vh;
}

.jadwal .embed-responsive .card-img-top {
  object-fit: cover;
}

.logo {
  width: 30px;
  height: 30px;
}

.card {
  margin: 0 auto;
  float: none;
  top: 10vh;
}

.region .card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

input::placeholder {
  color: white !important;
}
input[type="text"] {
  padding-inline: 45px;
}
