body {
  background-image: url(../image/UI/timbg.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  overflow-x: hidden;
}

.logo {
  width: 30px;
  height: 30px;
}

.card {
  margin: 0 auto;
  float: none;
  top: 10vh;
  overflow-y: hidden;
}

.list-group {
  margin: 0 auto;
  float: none;
  top: 10vh;
  overflow-y: hidden;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.btn btn-primary {
  position: absolute;
  top: 0;
  right: 0;
}
